<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/hybrid.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script> <script>hljs.initHighlightingOnLoad();</script>

<div class="user-details">
    <h1> How to Delegate </h1>
</div>
<h4>First, you have to install `ccstake`. It can be installed as follows.</h4>
<pre class="shell console" data-ke-type="codeblock">
      <code>
        $ yarn global add codechain-stakeholder-cli
      </code>
    </pre>
<h4>First, you need to install `ccstake`</h4>
<pre class="shell console" data-ke-type="codeblock">
      <code>
       yarn global add codechain-stakeholder-cli
      </code>
    </pre>
<h4> After a successful installation, you can use ccstake and delegate as follows: </h4>
<pre id="code_1554774712620" class="bash" data-ke-type="codeblock">
      <code>
      ccstake delegate \
        --account $YOUR_ACCOUNT
        --delegatee cccq9gqyn3xwelyegl362083a3wv20zrz2k2g5hf8jn
        --quantity $AMOUNT
        --fee $FEE
      </code>
    </pre>
<h4>
    Thanks, you could delegate AMOUNT from YOUR_ACCOUNT to my address. </h4>
</div>